.empleado-panel{
  width: 350px;
  height:auto;
}

.boton-compraventa{
  margin: 15px;
  background-color: #8FBC8F; /* Set the background color to green */
  color: rgb(0, 0, 0); /* Set the text color to white */
  font-weight: bold;
  border: 2px solid #649C66;
  border-radius: 30px; /* Add rounded corners */
  padding: 10px 20px; /* Adjust padding to your preference */
  cursor: pointer; /* Add a pointer cursor on hover */
  font-size: 20px; /* Set the font size to your preference */
  width: 200px;

}
.busqueda{
  color: rgb(0, 0, 0); /* Set the text color to white */
  font-weight: bold;
  margin: 15px;
  width: 30%; /* Set the width as needed */
  height: 55px;
  padding: 15px; /* Adjust the padding as needed */
  border-radius: 35px;
  font-size: 25px;

  border: 2px solid #649C66;
}

.boton-panel{
  margin: 15px;
  background-color: #8FBC8F; /* Set the background color to green */
  color: rgb(0, 0, 0); /* Set the text color to white */
  font-weight: bold;
  border: 2px solid #649C66;
  border-radius: 30px; /* Add rounded corners */
  padding: 10px 20px; /* Adjust padding to your preference */
  cursor: pointer; /* Add a pointer cursor on hover */
  font-size: 20px; /* Set the font size to your preference */

} 
.historial-muestras{
  
  width: 1300px;
  height:700px;
}


header{
  display: flex;
  justify-content: space-between;
  background-color: #649C66;

}
.header-text{
  justify-content: space-between;
}

.container {
  text-align: right; /* Alinea el texto a la derecha en el contenedor */
}
nav a:hover{
  font-weight: bold;
  color: azure;
}
.nav-path{
  font-weight: bold;
  font-size: 23px;

  margin: 30px;
  color: black;
  text-decoration: none;

}
.nav-mark{
  font-weight: bold;
  font-size: 23px;
  margin-top: 30px;
  color: black;
  text-decoration: none;

}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.center-text {
  text-align: center;
}
.rounded-corner {
  border-radius: 50px; /* Adjust the value to control the roundness of the corners */
  
}

.rounded-corner2 {
  border-radius: 15px; /* Adjust the value to control the roundness of the corners */
  width: 400px; /* Set the width to your desired size (e.g., 300 pixels) */
  margin: 50px;
}

.signup-element {
  border-radius: 15px; /* Adjust the value to control the roundness of the corners */
  width: 400px; /* Set the width to your desired size (e.g., 300 pixels) */
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
}

.login-div {
  align-items: center;
  width: 500px; /* Set the width to your desired size (e.g., 300 pixels) */
  height: 700px; /* Set the height to your desired size (e.g., 200 pixels) */
}

.boton-log{
  margin: 25px;
  background-color: #8FBC8F; /* Set the background color to green */
  color: rgb(0, 0, 0); /* Set the text color to white */
  font-weight: bold;
  border: 2px solid #649C66;
  border-radius: 30px; /* Add rounded corners */
  padding: 10px 20px; /* Adjust padding to your preference */
  cursor: pointer; /* Add a pointer cursor on hover */
  font-size: 20px; /* Set the font size to your preference */
}

.boton-scan{
  background-color: #f5f5f5; /* Set the background color to green */
  color: rgb(0, 0, 0); /* Set the text color to white */
  font-weight: bold;
  width: 400px;
  border: 2px solid #649C66;
  border-radius: 15px; /* Add rounded corners */
  padding: 10px 20px; /* Adjust padding to your preference */
  cursor: pointer; /* Add a pointer cursor on hover */
  font-size: 20px; /* Set the font size to your preference */
}
.input-design {

  width: 100%; /* Set the width as needed */
  padding: 10px; /* Adjust the padding as needed */
  border-radius: 15px;
  font-size: 16px;
  border: 2px solid #649C66;
}

.centered-bold-text {
  text-align: center;
  font-weight: bold;
  font-size: 19px;
}

h3 {
  text-align: center;
}
h4 {
  text-align: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bold-text {
  font-weight: bold;
}

.margen{
  margin: 25px;
}
.chage-login-singin{
  margin-left: 75px;
  text-decoration: none;
  color: black;
}

.bg-green {
  background-color: #8FBC8F;
}

.bg-gray {
  background-color: #D9D9D9;
}
